{% extends "base.html" %}

{% block content %}


  <div class="container">

    <div class="card text-left">
      <div class="card-header">
        <h1> What's new? </h1>
      </div>
      <div id="kwd-form">
        <form method="post">
          <label for="kwd">Keywords: </label>
          <input type="text" id="kwd" name="kwd">
            
            <select name="result_type" id="result_type">
              <option value="popular">Popular</option>
              <option value="recent">Recent</option>
            </select>
          <input type="submit" id="submit-button" value="Submit">
        </form>
      </div>
        
        
      {% if kwd != None %}
        <h4>{{ result_type }} tweets for : {{ kwd }}</h4>
         
        {% for tweet in show_tweets %}
           <p> {{ tweet | safe}} </p>
        {% endfor %}
        <p><img src="/static/foo.png" width="800", height="600"/></p>
      {% endif %}
        
        
    </div>
  </div>    
{% endblock %}
