
<!DOCTYPE html>
<html lang="en">
    
<head>
  <title>Twitter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
    
<body>
    
    <header>
      <div class="container">
        <h1 class="logo">RandomFields</h1>
        <strong> <nav>
          <ul class="menu">
            <li><a href="{{ url_for('iss_main') }}">Home</a></li>
            <li><a href="{{ url_for('iss_main') }}">Posts</a></li>
            
            <li> 
                <div class="dropdown">
                    <button class="dropbtn"><strong>Tweets Analyser </strong> </button>
                    <div class="dropdown-content">
                      <a href="{{ url_for('twt_live') }}">Live</a>
                      <a href="{{ url_for('twt_hist') }}">Historical</a>
                    </div>
                </div>
            </li>
            
            <li><a href="{{ url_for('hello') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    

    
  <div class="container">
    <div class="row header-row">
      <div class="col-md-2 offset-md-5" align="center">
        <h1>Twitter<img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png"/></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Current ISS Position
      </div>
      <div class="card-body">
        Hello!
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
        What's new
      </div>
      <p class="card-text">Enter keywords.</p>
      <div id="kwd-form">
        <form method="post">
          <label for="kwd"></label>
          <input type="text" id="kwd" name="kwd">
          <input type="submit" id="submit-button" value="Submit">
        </form>
          
    
      </div>
      {% if kwd != None %}
        <h4>Latest tweets for : {{ kwd }}</h4>
        {{ tweets_to_show }}
      {% endif %}
    </div>
  </div>    
    
</body>
</html>
