/*
.container {
   height: auto;
   overflow: hidden;
   z-index: 1;
}

.right {
    width: 180px;
    float: right;
    background: #aafed6;
}
*/

.left {
    float: none; /* not needed, just for clarification */
    background: #e8f6fe;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
} 


.row header-row {
  height: 80px;
}

.card {
  margin-bottom: 30px;
  padding-bottom: 10px;
  z-index: 1;
}

p {
  margin-top: 15px;
}



/* ****** Dropdown Button ******** */
.dropbtn {
  background-color: #3182bd;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9ecae1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 214748363;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 500000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #6baed6;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3182bd;}


/* from here: https://pythonhow.com/add-css-to-flask-website/ */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  background-color: #3182bd;
  height: 60px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 8px;
  padding: 10px 0 5px 0;
  font-size: 1.7em;
  color: white;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 10px 0;
  background-color: black;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: white;
  text-decoration: none;
}

.menu li a:hover {
  color: #deebf7;
}

/* END FROM here: https://pythonhow.com/add-css-to-flask-website/ */